{% extends 'navbar.html' %}

{% block  title %}
	<title>WordPic Game</title>
{% endblock %}
{% block body %}
<p class="content">Welcome to WordPic</p>
<p class="content">The rules are simple. You will be given a word and a picture. These two when combined will give you a movie name.</p>
<p class="content"> You have to guess the hollywood movie name </p>
<p class="content"> So It's showtime </p>
{% if name != "Sign In" %}
<a class="button" href="/trial">Trial run</button>
<a class="button" href="/play">Play game</button>
{% else %}
<p class="content"><a href="/signin">Login</a> to play the game</p>
{% endif %}
{% endblock %}