{% extends 'navbar.html' %}
{% block title %}
<title>LeaderBoard</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock %}

{% block body %}
<div class="w3-container">

<h2 class="content">Points Table</h2>
<div class="w3-responsive">
<table class="w3-table-all w3-card-4">
<tr>
  <th>UserName</th>
  <th>Level</th>
  <th>Points</th>
</tr>
{% for u in users %}
<tr>
  <td><a href="/users?name={{u.uname}}">{{u.uname}}</a></td>
  <td>{{u.level}}</td>
  <td>{{u.points}}</td>
</tr>
{% endfor %}
</table>
</div>
<a class="button" href="/play">Start playing</a>
{% endblock %}