{% extends 'navbar.html' %}

{% block  title %}
	<title>WordPic Game</title>
	<link rel="stylesheet" href="/css/image.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<script>
		{% if message %}
		window.onload = function(){
			alert("{{message}}");
		}
		{% endif %}
		function sendans(){
			var ans = document.getElementById("answer");
			var args = "?ans=" + ans.value + "&qid={{qid}}";
			if(ans.value == "")
				alert("please enter some answer");
			else
				location.href = "/checkans" + args;
		}
		function showans(){
			var args = "?qid={{qid}}";
			location.href = "/showans" + args;
		}
	</script>
{% endblock %}

{% block body %}
<p class="content"> Your question </p>
  <div class="w3-display-container">
 <img src="/img?qid={{qid}}" class="w3-border image" alt="Norway">
</div>
    <div class="w3-display-middle w3-large"><p class="content" style="color:{{color}}"><b>{{text}}</b></p></div>
  <textarea id="answer" placeholder="Your answer"></textarea>
  <button class="button" onclick="sendans()">Submit</button>
   <button class="button" onclick="showans()">Show answer</button>
   {% if qid==0 %}
   	   <a class="button" href="/play">Start playing</a>
   {% elif level >= qid %}
  		<a class="button" href="/play">Next level</a>
  	{% endif %}

{% endblock %}