{% extends 'navbar.html' %}

{% block  title %}
	<title>WordPic Game</title>

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="/css/sign.css" type="text/css">
{% endblock %}

{% block body %}	
<div class="testbox">
  <h1>Welcome Back !</h1>
   <p style="{color: red ; }">{{message}}</p>
  <form action="/signin" method="post">
      <hr>
  <label id="icon" for="username"><i class="icon-user"></i></label>
  <input type="text" name="username" id="username" placeholder="Username" required/>
  <label id="icon" for="password"><i class="icon-shield"></i></label>
  <input type="password" name="password" id="password" placeholder="Password" required/>
   <button type="submit" class="button">Sign In</button>
  </form>
  <a href="/forgotpass">Forgot Password?</a>
</div>
{% endblock %}