{% extends 'navbar.html' %}
{% block title %}
<title>User Profile</title>
{% endblock %}
{% block body %}
<p class="content">Username : {{ message.uname }} </p>
<p class="content">E-mail : {{ message.email }} </p>
<p class="content">Level : {{ message.level }} </p>
<p class="content">Points : {{ message.points }} </p>
{% endblock %}